body {
    background-color: #131516;
}

p {
    color: #d8d4cf;
}

h1 {
    color: #d8d4cf
}

h2 {
    color: #d8d4cf
}

.boite {
    border: 4px solid white;

}


img {
    max-width: 100%;
    height: auto;
    width: auto;
}


/*définir la police*/
@font-face {
    font-family: 'MisterOctober';
    src: url("Mister October.otf");
}

/*Dire à l'objet de classe boite d'utiliser la police*/
.boite h2 {
    font-family: "MisterOctober";

}